/* ======================
      Common CSS
=========================*/
body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
}

.mt-20 {
  margin-top: 100px;
}

.overlay {
  height: 90vh;
}

.lotus-sec-title {
  font-weight: 600;
  text-transform: capitalize;
  color: #0a0826;
  font-size: 38px;
  text-align: center;
}

/* ======================
      Slider CSS
=========================*/
.carousel-caption {
  bottom: 5.25rem;
}

.lotus-slider-title {
  font-size: 48px;
}

.lotus-slider-subtitle {
  font-size: 16px;
  font-weight: 300;
}


/* ======================
      Package CSS
=========================*/
.lotus-card-price,
.lotus-sec-title {
  color: #231d4f;
  font-weight: 700;
  font-size: 36px;
}

.lotus-card-title {
  font-size: 28px;
}

.lotus-card-text {
  color: #848199;
  font-weight: 300;
  font-size: 14px;
  padding: 5px 0;
}

.lotus-card-text>i {
  background: #526eecd0;
  border-radius: 50%;
  padding: 2px;
  font-size: 10px;
  margin-right: 7px;
  color: #fff;
}

.lotus-card-list {
  list-style: none;
}

.lotus-special-card {
  border-radius: 20px;
  margin-top: -70px;
  position: relative;
}

.hot {
  position: absolute;
  top: -10px;
  right: 15px;
  background-color: #ff4e4e;
  padding: 3px 10px;
  font-weight: 300;
  color: #fff;
  font-size: 13px;
}

.lotus-toast {
  border-left: 5px solid #007CFFA1;
}

/* ======================
      Footer CSS
=========================*/
.footer-bg {
  background-color: #0b0d17;
}

/* ======================
      Responsive CSS
=========================*/
@media (max-width:576px) {
  .overlay {
    height: 70vh;
  }

  .lotus-slider-title {
    font-size: 38px;
  }

  .lotus-slider-subtitle {
    font-size: 13px;
  }
}